.container {
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.hero {
    /* background-image: url(../photo/hero/hero-atb.jpg); */
    background-repeat: no-repeat;
    width: 1200px;
}
body {
  font-family: Arial, sans-serif;
}

.latest-products {

  text-align: center;
  padding: 20px;
}

.product-row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.product {
  margin: 0 15px;
  padding: 10px;
  border-radius: 5px;
}

.product img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.buy-button {
  background-color: #87cefa; /* Голубий колір */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #7bc5f4; /* Світліший голубий при наведенні */
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  transition: transform 0.2s;
}

footer img:hover {
  transform: scale(1.2);
}

footer h3 {
  margin-bottom: 20px;
}
